<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>
    <h2 th:text="'Owners'">Owners List</h2>
    <table id="owners" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner:${owners}">
            <td th:text="${owner.id}">99</td>
            <td th:text="${owner.firstName}">Alita</td>
            <td th:text="${owner.lastName}">Ido</td>
        </tr>
        </tbody>
    </table>
</body>
</html>