<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"  th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Not Implemented</title>
</head>
<body>
    <h2 th:text="'Not Implemented Yet!!'">not implemented yet</h2>

</body>
</html>