<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h2 th:text="'Vetenarians'">List of Vets...</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet:${vets}">
            <td th:text="${vet.id}">99</td>
            <td th:text="${vet.firstName}">Alita</td>
            <td th:text="${vet.lastName}">Ido</td>
        </tr>
        </tbody>
    </table>
</body>
</html>